name: DataOps - 2

on:
  push:
  schedule:
    - cron: '10-59/15 * * * *'

jobs:
  run:

    name: Mtl pools CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mtl-pools
          environment-file: environment.yml
          python-version: 3.8
          auto-activate-base: false
      - shell: bash -l {0}
        run: |
            python run.py ${{ secrets.username2 }} ${{ secrets.password2 }}
